@{
    Layout = "_Layout";
}

<h1>Welcome to the new Embedded stocks shop!</h1>

<p>From here you can add, create, update and delete different component models.</p>

<p>but first you need to login, login here</p>

<a asp-controller="LoginController" asp-action="Login" ></a>